doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/external/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/external/snackbar.min.css')
    link(rel='stylesheet', href='/stylesheets/external/snackbar-material.css')

    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-navigation.css')
    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-editor.css')
    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-content.css')

    link(rel='stylesheet', href='/stylesheets/less_main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    script#react_app_props(type="application/json") !{props}

    include partials/analytics

    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/external/bootstrap.min.js')
    script(src='/js/external/snackbar.min.js')
    script(src='/js/bundle.js', defer)

    include partials/flash
