body {
  padding: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

/* Style for user forms */
.default-paper ul,ol {
    padding-left: 40px;
}

.form-paper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

.form-container {
    padding: 2em;
}

.form-input {
    display: block;
}
