.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

/* Style for user forms */
.default-paper ul,ol {
    padding-left: 40px;
}

.form-paper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

.form-container {
    padding: 2em;
}

.form-input {
    display: block;
}

/* Style for thread view */
.thread-view-page {
    padding-top: 20px;
}

.thread-message-list-container .mui-paper .mui-paper-container {
    height: 600px;
    display: flex;
    flex-direction: row;
}

.thread-message-list {
    overflow-y: auto;
    overflow-x: hidden;
    align-self: flex-end;
    flex-grow: 1;
    max-height: 600px;
}

.thread-name.updated {
    font-weight: 900;
}

.chat-box-row {
    display: flex;
}

.chat-box-text-field {
    flex-grow: 1;
    padding: 0 1em;
}

.chat-box-text-field .mui-text-field {
    width: 100%;
}

.chat-box-send-button {
    align-self: center;
}
